@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,400;0,500;0,700;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 16px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(74, 40, 0, 1) 100%);

    width: 100%;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .logo, footer .blocks .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: white;
}

header nav ul li.active::after {
    content: "";
    display: block;
    width: 40px;
    height: 5px;
    background-color: #DC7000;
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: -15px;
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #DC7000;
}

header nav ul li.btn a, .email .block button, .email-2 .block button {
    background: #FA9021;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover, .email .block button:hover {
    background-color: #c56600;
}

.hero {
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}

.hero--info {
    width: 530px;
    padding-top: 70px;
}

.hero--info h2 {
    color: #E87D0E;
    font-size: 20px;
    font-weight: bold;
}

.hero--info h1 {
    font-size: 50px;
    font-weight: bold;
}

.hero--info p {
    font-weight: 500px;
    line-height: 170%;
    margin: 30px 0;
}

.hero--info .btn, .hero-about .info .btn {
    background: #FA8305;
    color: white;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
    font-size: 17px;
}

.hero--info .btn:hover, .hero-about .info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hero img {
    position: absolute;
    top: -150px;
    right: 0;
}

.trending {
    padding-top: 50px;
}

.trending h3 {
    font-size: 31;
    font-weight: bold;
}

.trending .see-all, .projects .see-all {
    color: white;
    background: #25211d;
    border-radius: 5px;
    padding: 12px 23px;
    float: right;
    display: block;
    text-decoration: none;
    transition: all 500ms ease;
}

.trending .see-all:hover, .projects .see-all:hover {
    transform: scale(1.1);
}

.trending .games {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
}

.trending .games span {
    display: block;
    text-align: center;
    margin-top: 15px;
}

.trending .games span img {
    position: relative;
    top: 5px;
    margin-right: 7px;
}

.bix-text {
    padding: 50px 0;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    width: 800px;
}

.banner {
    padding: 80px 0;
}

.banner h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.banner p {
    line-height: 170%;
    margin-bottom: 30px;
    width: 550px;
}

.banner img {
    width: 100%;
}

.features {
    background: url(img/background.png) no-repeat center center fixed;
    background-size: 100%;
    padding: 80px 0;
}

.features h3, 
.features p {
    margin-bottom: 20px;
    text-align: center;
    max-width: 826px;
    margin-left: auto;
    margin-right: auto;
}

.features h3 {
    font-size: 30px;
    font-weight: bold;
}

.features .info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.features .info .block {
    text-align: center;
    width: 20%;
    margin: 30px 2%;
}

.features .info .block img {
    margin-bottom: 10px;
}

.features .info .block .arrow {
    transition: all 500ms ease;
}

.features .info .block .arrow:hover {
    transform: scale(1.5);
}

.projects {
    padding: 100px 0
}

.projects h3 {
    font-size: 30px;
    text-align: center;
}

.projects p {
    margin: 40px 0;
    text-align: center;
}

.projects .images {
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}

.projects .see-all {
    float: none;
    width: 60px; 
    text-align: center;
    margin: 0 auto;
}

.email, .email-2 {
    padding-bottom: 120px;
}

.email h3, .email-2 h3 {
    margin-top: 60px;
    font-size: 30px;
}

.email .block, .email-2 .block {
    background: #1C140F;
    margin-top: 30px;
    border-radius: 10px;
    padding: 40px 3%;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email .block h4, .email-2 .block h4 {
    font-size: 30px;
    font-weight: 500;
}

.email .block p, .email-2 .block p {
    width: 500px;
}

.email .block input, .email-2 .block input {
    background-color: white;
    outline: none;
    border: 0;
    border-radius: 5px;
    width: 300px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 15px 30px;
    position: relative;
    right: -100px;
    z-index: 1;
    padding-right: 100px;
}

.email .block input::placeholder, .email-2 .block input::placeholder {
    color: #898989;
}

.email .block button, .email-2 .block button {
    cursor: pointer;
    border: 0;
    padding: 13px 17px;
    position: relative;
    z-index: 2;
    color: white;
}

.hero-about {
    position: relative;
}

.hero-about .info {
    width: 500px;
    padding: 250px 0;
}

.hero-about .info h1 {
    margin-bottom: 15px;
    font-size: 30px;
}

.hero-about .info .btn {
    margin-top: 40px;
}

.hero-about img {
    position: absolute;
    right: -250px;
    top: 0;
}

.work {
    padding: 80px 0;
}

.work h2 {
    font-size: 25;
    margin-bottom: 40px;
    font-weight: bold;
}

.work .blocks {
    display: flex;
    justify-content: space-between;
}

.work .blocks .block {
    width: 25%;
    border-radius: 10px;
    padding: 50px 35px;
    background: #1C140F;
}

.work .blocks .block h3 {
    font-size: 20;
    margin: 20px 0;
}

.work .blocks .block .badge {
    border-radius: 7px;
    padding: 10px 20px;
}


.work .blocks .block .badge.purple {
    background: rgba(176,0,220,11%);
}

.work .blocks .block .badge.brown {
    background: rgba(220,66,0,11%);
}

.work .blocks .block .badge.green {
    background: rgba(0,220,141,11%);
}

.banner-2 {
    position: relative;
    width: 100%;
    background: #1C140F;
    padding: 125px 0;
    margin: 100px 0;
    overflow: hidden;
    width: 100%;
}

.banner-2 img {
    position: relative;
    top: 130px;
    left: 250px;
}

.banner-2 span {
    position: absolute;
    font-size: 16px;
    font-weight: 500;
    left: 850px;
    top: 255px;
}

.banner-2 h2 {
    position: absolute;
    font-weight: 600;
    font-size: 28px;
    left: 850px;
    top: 325px;
    width: 40%;
}

.banner-2 p {
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    left: 850px;
    top: 440px;
    width: 40%;
}

.our-team {
    margin: 125px auto;
    display: flex;
    justify-content: space-between;
}

.our-team .man1,
.our-team .man2,
.our-team .man3,
.our-team .man4 {
    margin-top: 100px;
    background: #1C140F;
    padding: 50px 100px;
    border-radius: 12px;
    text-align: center;
}

.our-team .man1 {
    margin-left: -170px;
}

.email-2 {
    margin-bottom: 50px;
}

.email-2 h3 {
    margin: 50px 0;
}

.email-2 p {
    width: 60%;
}

#about-us-span {
    color: #E47500;
}

footer {
    background-color: black;
    padding: 50px 0;
}

footer .blocks {
    display: flex;
    justify-content: space-between;
}

footer .blocks p {
    width: 300px;
    margin: 15px 0;
}

.footer .blocks h4 {
    font-weight: 500;
    font-size: 17px;
}

.footer .blocks ul {
    list-style: none;
}

footer .blocks ul li {
    margin-top: 7px;
    opacity: 0.8;
}

footer hr {
    margin: 30px 0;
    border: 0;
    height: 0.6px;
    background-color: #ccc;
}

footer > p {
    text-align: center;
}
